<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crop Disease Prediction</title>
    </head>
    <body>
    <h1>Upload Crop Image</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <input type="submit" value="Predict">
    </form>
    {% if filename%}
    <h2>Uploaded Image:</h2>
    <img src="{{ url_for('static', filename='uploads/' + filename)}}" alt="Uploaded Image" height="300px">
    <h2>Prediction:</h2>
    <p>{{ prediction_text }}</p>
    {% endif %}
</body>
</html>